html, body {
    height: 100%;
}

.main-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.main-container {
    flex: 1 0 auto;
    position: absolute !important;
}
.home-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    top: 30%;
    padding: 0 20px 200px 20px;
}
.register-container {
      top: 20%;
      display: flex !important;
      flex-direction: column;
      align-self: center;
      padding: 0 20px 100px 20px;
  }
.register-container form{
    min-width: 300px;
    margin: auto !important;
}
@media screen and (min-width: 766px) {
    .main-wrapper {
        height: 100vh;
    }
    .main-container {
        position: static !important;
    }
    .register-container {
        margin-top: 100px;
    }
}

.ui.sidebar {
    top: 61px !important;
}

.footer {
    flex-shrink: 0;
}

.custom-navbar {
    background-color: transparent !important;
}

.custom-navbar a,
.header__custom {
    color: white !important;
}

.home__button {
    min-width: 105px;
}
